<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section
      class="bg-white md:mx-[2%] md:my-24 md:rounded-3xl md:flex md:min-w-[90%]"
    >
      <div class="hidden md:block">
        <img
          src="../../assets/destination/aquarium.jpg"
          alt=""
          class="min-w-[400px] rounded-3xl"
        />
        <p class="text-xl font-semibold py-4">
          Trip description ... Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. adipiscing elit, sed do eiusmod.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. adipiscing elit, sed do eiusmod.
        </p>
      </div>
      <div class="md:min-w-[60%]">
        <div class="rounded-3xl shadow-xl px-8 py-6 mx-6">
          <p class="text-xl font-extrabold py-4">
            เที่ยวญี่ปุ่น โอกินาว่า ปราสาทชูริ พิพิธภัณฑ์สัตว์น้ำชุราอูมิ
            โอกินาว่าเวิลด์
          </p>
          <div class="flex justify-between items-center">
            <div class="flex-col flex items-center">
              <p class="font-extrabold text-xl">กรุงเทพ</p>
              <p class="font-bold bg-gray-200 rounded-full p-2">พฤ 9 พ.ค.</p>
            </div>
            <div class="flex-col flex items-center">
              <img src="../../assets/planeBlue.svg" alt="" />
              <p class="font-semibold text-red-500">(4 วัน 3 คืน)</p>
            </div>
            <div class="flex-col flex items-center">
              <p class="font-extrabold text-xl">โอกินาว่า</p>
              <p class="font-bold bg-gray-200 rounded-full p-2">อา 12 พ.ค.</p>
            </div>
          </div>
          <button class="flex mt-2 text-xl bg-white items-center">
            <p>อ่านรายละเอียดโปรแกรมแบบเต็มๆ</p>
            <p class="text-4xl">&#8227;</p>
          </button>
          <button class="flex mt-2 text-xl bg-white items-center">
            <p>นโยบาย | ข้อควรรู้ก่อนออกเดินทาง</p>
            <p class="text-4xl">&#8227;</p>
          </button>
        </div>
        <div class="rounded-3xl shadow-xl px-8 py-6 mx-6">
          <p class="text-xl font-extrabold py-4">ผู้โดยสาร</p>
          <p class="text-l py-2">ผู้โดยสาร A</p>
          <hr />
          <p class="text-l py-2">ผู้โดยสาร B</p>
        </div>
        <div class="rounded-3xl shadow-xl px-8 py-6 mx-6">
          <p class="text-xl font-extrabold py-4">ข้อมูลการชำระเงิน</p>
          <div class="flex justify-between items-center font-semibold">
            <p class="text-l py-2">Package Okinawa A x 2</p>
            <p>฿ 59900</p>
          </div>
          <div
            class="flex justify-between items-center text-red-600 font-semibold"
          >
            <p class="text-l py-2">ส่วนลดห้องพัก</p>
            <p>฿ - 7500</p>
          </div>
          <div class="flex flex-col items-end">
            <p class="text-xs font-bold">ยอดชำระเงินทั้งหมด</p>
            <p class="text-2xl font-bold">฿ 52,400</p>
          </div>
        </div>

        <div class="flex justify-center p-4 bg-white mt-4 text-base-content">
          <aside>
            <button class="btn rounded-full bg-red-500 text-white text-xl">
              ขอคืนเงิน/ยกเลิกคำสั่งซื้อ
            </button>
          </aside>
        </div>
      </div>
    </section>
  </body>
</html>
