<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <section
      class="bg-white md:my-12 md:mx-12 md:rounded-3xl h-[93vh] md:h-[80vh]"
    >
      <div class="flex justify-center">
        <p class="text-xl font-extrabold pt-4 mb-4">ทริปที่คุณกดถูกใจ</p>
      </div>
              <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
          <a href="">
            <div class="card w-full bg-base-100 shadow-xl">
              <figure>
                <img
                  class="w-full"
                  src="../../assets/destination/universal.jpg"
                  alt="Universal Studio Singapore"
                />
              </figure>
              <div class="card-body px-2 md:px-3 py-2">
                <h2 class="card-title text-sm md:text-lg">
                  แพ็คเกจเที่ยว สิงคโปร์ Universal Studio Singapore รวม อาหาร
                  และ ที่พัก
                </h2>

                <div class="flex gap-2 justify-between">
                  <div class="flex items-center my-2">
                    <img
                      src="../../assets/location.png"
                      class="w-4 h-4 mr-1"
                      alt="Location Icon"
                    />
                    <p>สิงคโปร์</p>
                  </div>
                  <div class="flex items-center my-2">
                    <span class="text-yellow-500">&#9733;</span>
                    <p class="ml-1 text-sm">4.7 (348 รีวิว)</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    ขายดีที่สุด
                  </p>
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    3 วัน 2 คืน
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-lg font-bold">฿ 16,990</p>
                </div>
              </div>
            </div></a
          >
          <a href="">
            <div class="card w-full bg-base-100 shadow-xl">
              <figure>
                <img
                  class="w-full"
                  src="../../assets/destination/okinawaAquarium.jpg"
                  alt="Universal Studio Singapore"
                />
              </figure>
              <div class="card-body px-2 md:px-3 py-2">
                <h2 class="card-title text-sm md:text-lg">
                  แพ็คเกจเที่ยวญี่ปุ่น โอกินาว่า พิพิธภัณฑ์สัตว์น้ำชุราอูมิ
                  โอกินาว่าเวิลด์
                </h2>

                <div class="flex gap-2 justify-between">
                  <div class="flex items-center my-2">
                    <img
                      src="../../assets/location.png"
                      class="w-4 h-4 mr-1"
                      alt="Location Icon"
                    />
                    <p>ญี่ปุ่น</p>
                  </div>
                  <div class="flex items-center my-2">
                    <span class="text-yellow-500">&#9733;</span>
                    <p class="ml-1 text-sm">4.8 (263 รีวิว)</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    ขายดีที่สุด
                  </p>
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    4 วัน 3 คืน
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-lg font-bold">฿ 29,950</p>
                </div>
              </div>
            </div></a
          >
          <a href="">
            <div class="card w-full bg-base-100 shadow-xl">
              <figure>
                <img
                  class="w-full"
                  src="../../assets/destination/russia.jpg"
                  alt="Universal Studio Singapore"
                />
              </figure>
              <div class="card-body px-2 md:px-3 py-2">
                <h2 class="card-title text-sm md:text-lg">
                  แพ็คเกจเที่ยวรัสเซีย มอสโคว์ เซนต์ปีเตอร์สเบิร์ก
                  พระราชวังเครมลิน
                </h2>

                <div class="flex gap-2 justify-between">
                  <div class="flex items-center my-2">
                    <img
                      src="../../assets/location.png"
                      class="w-4 h-4 mr-1"
                      alt="Location Icon"
                    />
                    <p>รัซเซีย</p>
                  </div>
                  <div class="flex items-center my-2">
                    <span class="text-yellow-500">&#9733;</span>
                    <p class="ml-1 text-sm">4.3 (89 รีวิว)</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    7 วัน 5 คืน
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-lg font-bold">฿ 56,990</p>
                </div>
              </div>
            </div></a
          >
          <a href="">
            <div class="card w-full bg-base-100 shadow-xl">
              <figure>
                <img
                  class="w-full"
                  src="../../assets/destination/paris.jpg"
                  alt="Universal Studio Singapore"
                />
              </figure>
              <div class="card-body px-2 md:px-3 py-2">
                <h2 class="card-title text-sm md:text-lg">
                  แพ็คเกจเที่ยว ฝรั่งเศส อาวิญง คานส์ นีซ ปารีส รวมอาหาร และ
                  ที่พัก
                </h2>

                <div class="flex gap-2 justify-between">
                  <div class="flex items-center my-2">
                    <img
                      src="../../assets/location.png"
                      class="w-4 h-4 mr-1"
                      alt="Location Icon"
                    />
                    <p>ฝรั่งเศษ</p>
                  </div>
                  <div class="flex items-center my-2">
                    <span class="text-yellow-500">&#9733;</span>
                    <p class="ml-1 text-sm">4.6 (132 รีวิว)</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <p class="badge badge-info max-w-28 text-white font-semibold">
                    10 วัน 8 คืน
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-lg font-bold">฿ 149,900</p>
                </div>
              </div>
            </div></a
          >
        </div>
        <div class="flex justify-center pt-4">

        </div>
      </div>
    </section>
  </body>
</html>
