<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="password-change">
        <div class="h-full bg-cover bg-center bg-no-repeat bg-[url('../../assets/bg.svg')]">
        <div class="h-screen flex items-center justify-center">
            <div class="bg-white p-6 rounded-2xl shadow-lg max-w-md w-full">
                <h1 class="text-2xl font-semibold mb-4 text-center">เปลี่ยนแปลงรหัสผ่าน</h1>
                <form>
                    <div class="mb-4">
                        <label for="current-password" class="block text-gray-700">รหัสผ่านเก่า</label>
                        <input type="password" id="current-password" class="input input-bordered w-full mt-2" placeholder="********">
                    </div>
                    <div class="mb-4">
                        <label for="new-password" class="block text-gray-700">รหัสผ่านใหม่</label>
                        <input type="password" id="new-password" class="input input-bordered w-full mt-2" placeholder="********">
                    </div>
                    <div class="mb-4">
                        <label for="confirm-password" class="block text-gray-700">ยืนยันรหัสผ่าน</label>
                        <input type="password" id="confirm-password" class="input input-bordered w-full mt-2" placeholder="********">
                    </div>
                    <ul class="text-sm text-gray-600 mb-4 list-disc list-inside">
                        <li>รหัสผ่านต้องมีความยาวอย่างน้อย 8-12 ตัวอักษร</li>
                        <li>ควรมีตัวอักษรพิมพ์เล็ก พิมพ์ใหญ่ ตัวเลข และสัญลักษณ์พิเศษ (@#$%^&*)</li>
                        <li>หลีกเลี่ยงการใช้ชื่อ วันเกิด หมายเลขโทรศัพท์ หรือข้อมูลที่เดาได้ง่าย</li>
                        <li>รหัสผ่านไม่สามารถเว้นว่างได้</li>
                    </ul>
                    <button type="submit" class="btn w-full bg-blue-500 hover:bg-blue-700 text-white rounded-full">อัพเดตรหัสผ่าน</button>
                </form>
            </div>
        </div>
    </div>
    </section>
</body>
</html>