<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <section
      class="bg-white md:mx-[2%] md:my-12 md:rounded-3xl md:min-w-[90%] h-full"
    >
      <!--ถ้าจะเอา navbar ทับ ใช้ relative, z-10 -->
      <div class="flex justify-center relative z-10">
        <button
          class="btn rounded-full bg-white hover:bg-white w-12 fixed top-5 left-5 md:hidden"
        >
          <img src="../../assets/back_button.svg" alt="" />
        </button>
        <p class="text-xl font-extrabold pt-4 pb-8 hidden md:block">
          ตัวเลือกการจอง
        </p>
      </div>

      <div class="flex flex-col md:flex-row md:pb-8">
        <div
          class="md:flex md:flex-col md:h-auto md:w-[55%] md:px-16 md:border-r md:border-r-black"
        >
          <img
            src="../../assets/destination/aquarium.jpg"
            alt=""
            class="md:rounded-3xl fixed bottom-[50%] h-[50%] w-full object-cover md:relative md:h-[60%] md:bottom-auto"
          />
          <p class="hidden md:block text-xl font-normal py-4">
            แพ็คเกจเที่ยว โอกินาว่า 4 วัน 3 คืน รวมตั๋วเครื่องบิน ที่พัก
            ร้านอาหาร และ ตั๋วเข้าชมพิพิธภัณฑ์สัตว์น้ำชุราอูมิ
            พร้อมบริการผู้ช่วยส่วนตัวตลอด 24 ชั่วโมง ตั้งแต่เริ่มจนจบ ทริป
            สำหรับ 1 ท่าน <strong>อ่านเงื่อนไขเพิ่มเติมคลิก</strong>
          </p>
        </div>

        <div
          class="fixed top-[45%] h-[55%] w-full bg-white rounded-t-[2rem] flex flex-col md:relative md:w-[45%] md:h-auto md:px-12"
        >
          <p class="text-2xl font-extrabold py-4 px-8">
            เที่ยวญี่ปุ่น โอกินาว่า ปราสาทชูริ พิพิธภัณฑ์สัตว์น้ำชุราอูมิ
            โอกินาว่าเวิลด์
          </p>
          <div class="flex flex-row place-content-between px-8">
            <div class="flex gap-2 content-center">
              <i
                class="fa-solid fa-location-dot fa-xl flex flex-col justify-center"
                style="color: #fd003a"
              ></i>
              <p>โอะกินะวะ, ญี่ปุ่น</p>
            </div>
            <div class="flex gap-2">
              <i
                class="fa-solid fa-star fa-xl flex flex-col justify-center"
                style="color: #ffc107"
              ></i>
              <p>4.8 (857 รีวิว)</p>
            </div>
          </div>
          <div class="flex justify-between items-center py-4 px-12">
            <div class="flex-col flex items-center">
              <p class="font-extrabold text-xl">กรุงเทพ</p>
              <p class="font-bold bg-gray-200 rounded-full p-2">พฤ 9 พ.ค.</p>
            </div>
            <div class="flex-col flex items-center">
              <img src="../../assets/planeBlue.svg" alt="" />
              <p class="font-semibold text-red-500">(4 วัน 3 คืน)</p>
            </div>
            <div class="flex-col flex items-center">
              <p class="font-extrabold text-xl">โอกินาว่า</p>
              <p class="font-bold bg-gray-200 rounded-full p-2">อา 12 พ.ค.</p>
            </div>
          </div>

          <div class="bg-[#B9FFFB] rounded-3xl px-6 py-3 mx-12">
            <p>
              โปรแกรมท่องเที่ยว โอกินาว่า แบบ All in one ไม่ต้อง ปวดหัวกับการจอง
              ตั๋วเครื่องบิน โรงแรม ร้านอาหาร เพราะ Vovage จัดการให้หมดแล้ว
            </p>
            <p class="font-semibold underline">
              <a href="#">ดูรายละเอียดแบบเต็มๆ</a>
            </p>
          </div>

          <div class="mt-auto">
            <div class="shadow-md h-2 md:shadow-none"></div>
            <div class="flex justify-between p-4 text-base-content px-8">
              <div class="flex flex-col justify-center">
                <p class="text-2xl font-bold">฿ 52,400</p>
              </div>
              <div class="flex content-center gap-3">
                <button class="btn btn-circle btn-outline">
                  <i class="fa-solid fa-heart fa-2x" style="color: #d7443e"></i>
                </button>
                <button class="btn btn-circle btn-outline">
                  <i
                    class="fa-solid fa-cart-shopping fa-2x"
                    style="color: #000000"
                  ></i>
                </button>
                <button
                  class="btn rounded-full bg-[#5F97FB] text-white text-xl"
                >
                  ชำระเงิน
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
