<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <section class="bg-white md:mx-[2%] md:my-12 md:rounded-3xl md:min-w-[90%] md:px-8 md:pb-8">
      <div class="flex content-center justify-center">
        <p class="text-xl md:text-4xl font-extrabold py-4">รายละเอียดแพ็คเกจ</p>
      </div>

      <div class="flex flex-col md:flex-row">
        <div class="md:w-[50%] md:pr-8 md:border-r md:border-black">
          <figure class="p-8 md:p-0">
            <img src="../../assets/destination/aquarium.jpg"
            alt=""
            class="rounded-3xl">
          </figure>
          <div class="hidden md:block">
            <p class="text-2xl font-extrabold py-4">
              เที่ยวญี่ปุ่น โอกินาว่า ปราสาทชูริ พิพิธภัณฑ์สัตว์น้ำชุราอูมิ โอกินาว่าเวิลด์
            </p>  
            <div class="flex flex-row place-content-between">
              <div class="flex gap-2 content-center">
                <i class="fa-solid fa-location-dot fa-xl flex flex-col justify-center" style="color: #fd003a;"></i>
                <p>โอะกินะวะ, ญี่ปุ่น</p>
              </div>
              <div class="flex gap-2">
                <i class="fa-solid fa-star fa-xl flex flex-col justify-center" style="color: #ffc107;"></i>
                <p>4.8 (857 รีวิว)</p>
              </div>
            </div>
            <div class="flex justify-center items-center py-4 px-12 gap-12">
              <div class="flex-col flex items-center">
                <p class="font-extrabold text-xl">กรุงเทพ</p>
                <p class="font-bold bg-gray-200 rounded-full p-2">พฤ 9 พ.ค.</p>
              </div>
              <div class="flex-col flex items-center">
                <img src="../../assets/planeBlue.svg" alt="" />
                <p class="font-semibold text-red-500">(4 วัน 3 คืน)</p>
              </div>
              <div class="flex-col flex items-center">
                <p class="font-extrabold text-xl">โอกินาว่า</p>
                <p class="font-bold bg-gray-200 rounded-full p-2">อา 12 พ.ค.</p>
              </div>
            </div>
          </div>
          <p class="text-xl font-normal px-8 md:px-0">
            แพ็คเกจเที่ยว โอกินาว่า 4 วัน 3 คืน รวมตั๋วเครื่องบิน ที่พัก ร้านอาหาร และ 
            ตั๋วเข้าชมพิพิธภัณฑ์สัตว์น้ำชุราอูมิ  พร้อมบริการผู้ช่วยส่วนตัวตลอด
            24 ชั่วโมง ตั้งแต่เริ่มจนจบ ทริป สำหรับ 1 ท่าน <strong>อ่านเงื่อนไขเพิ่มเติมคลิก</strong>
          </p>
        </div>

        <div class="md:w-[50%] md:pl-8 md:flex md:flex-col">
          <div class="flex flex-col content-center px-8
                      md:rounded-3xl md:shadow-xl md:grow">
            <h2 class="font-semibold text-3xl text-center py-8">สิ่งที่รวมในแพ็คเกจ</h2>
            <ul>
              <li class="flex justify-between">
                <p class="text-xl font-normal">ตั๋วเครื่องบิน ไป-กลับ</p>
                <p class="text-xl font-normal">฿16,500</p>
              </li>
              <li class="flex justify-between">
                <p class="text-xl font-normal">Hilton Okinawa 3 คืน รวม อาหารเช้า</p>
                <p class="text-xl font-normal">฿7,500</p>
              </li>
              <li class="flex justify-between">
                <p class="text-xl font-normal">บัตรทานอาหาร</p>
                <p class="text-xl font-normal">฿4,500</p>
              </li>
              <li class="flex justify-between">
                <p class="text-xl font-normal">Okinawa Churaumi Aquarium</p>
                <p class="text-xl font-normal">฿700</p>
              </li>
              <li class="flex justify-between">
                <p class="text-xl font-normal">บริการรถรับส่งจากสนามบิน และ บริการผู้ช่วย</p>
                <p class="text-xl font-normal">฿750</p>
              </li>
            </ul>
            <br><br>
            <div class="mt-auto flex justify-between py-4 border-t border-black">
              <p class="text-xl font-normal align-middle">ยอดรวม</p>
              <p class="text-2xl font-semibold align-middle">฿29,950</p>
            </div>
          </div>

          <div class="mt-auto">
            <div class="shadow-md h-2 md:shadow-none"></div>
            <div class="flex justify-between md:justify-start p-4 text-base-content px-8 md:px-0">
              <div class="flex flex-col justify-center md:hidden">
                <p class="text-xs font-bold">ยอดชำระเงินทั้งหมด</p>
                <p class="text-2xl font-bold">฿ 29,950</p>
              </div>
              <div class="flex content-center gap-3 md:w-full md:justify-between">
                <div class="flex gap-3">
                  <button class="btn btn-circle btn-outline">
                    <i class="fa-solid fa-heart fa-2x" style="color: #d7443e;"></i>
                  </button>
                  <button class="btn btn-circle btn-outline">
                    <i class="fa-solid fa-cart-shopping fa-2x" style="color: #000000;"></i>
                  </button>
                </div>
                <button class="btn rounded-full bg-[#5F97FB] text-white text-xl">
                  ชำระเงิน
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>
    
  </body>