<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voyage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .background-img {
        background-image: url("../../assets/bg.svg"); /* Replace with your image URL */
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body class="background-img h-screen flex items-center justify-center">
    <div class="text-center text-white">
      <div class="mt-20">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-md">
          THE WORLD AWAITS. WHERE WILL
        </h1>
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-xl">
          YOU GO NEXT?
        </h1>
        <p class="mt-4 text-lg md:text-xl lg:text-2xl drop-shadow-lg">
          START PLANNING YOUR UNFORGETTABLE ADVENTURE TODAY.
        </p>
        <button class="btn btn-primary mt-8">Get started</button>
      </div>
    </div>
  </body>
</html>
